<div class="photo-cta">
  <img src="/img/cta-images/join_our_team.png" class="photo-cta-container"/>
  <div class="cta-button"><a href="{{site.data.settings.sidebar_CTAS.cta1_link}}">Apply Now   <i class="fa fa-angle-double-right"></i></a></div>
</div>


<div class="photo-cta">
  <img src="/img/cta-images/newsletter.png"  class="photo-cta-container"/>
  <div class="cta-button"><a href="{{site.data.settings.sidebar_CTAS.cta2_link}}">Sign Up Now   <i class="fa fa-angle-double-right"></i></a></div>
</div>


<div class="photo-cta">
  <img src="/img/cta-images/strategy_call.png"  class="photo-cta-container"/>
  <div class="cta-button"><a href="{{site.data.settings.sidebar_CTAS.cta3_link}}">Book a Call   <i class="fa fa-angle-double-right"></i></a></div>
</div>


<div class="photo-cta">
  <img src="/img/cta-images/workshop.png"  class="photo-cta-container"/>
  <div class="cta-button"><a href="{{site.data.settings.sidebar_CTAS.cta4_link}}" target="_blank">Reserve Your Seat   <i class="fa fa-angle-double-right"></i></a></div>
</div>
